#pragma once
#include "../include/Resources.h"

RES_CUBE1_ID
RES_CUBE2_ID
RES_CUBE3_ID
RES_CUBE4_ID
RES_CUBE5_ID
RES_CUBE6_ID
ICON_TERRAIN_ID
GLOW_ID
ROOM_VERT_ID
ROOM_FRAG_ID
PASS_THRU_VERT_ID
RD_FRAG_ID
HEIGHTS_FRAG_ID
NORMALS_FRAG_ID
TERRAIN_VERT_ID
TERRAIN_FRAG_ID
SPHERE_VERT_ID
SPHERE_FRAG_ID
WALL_TEX_ID
CEILING_TEX_ID
FLOOR_TEX_ID
BLANK_TEX_ID
GRADIENT_TEX_ID
SAND_NORMAL_TEX_ID
BACK_WALL_TEX_ID
